{
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": ["react-hooks", "eslint-plugin-import-helpers"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",

    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": ["module", "/^@shared/", ["parent", "sibling", "index"]],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  },
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  }
}
